.navbar {
  margin: 0px 100px;
  background: #ffffff;
  box-shadow: 0px 6px 40px rgba(85, 85, 85, 0.1);
  border-radius: 8px;
  padding: 21px 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}
.nav-active-state {
  background: #a78fff;
  border-radius: 6px;
  padding: 8px 16px;
  font-family: "Zyzol";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}
.nav-passive-state {
  font-family: "Zyzol";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: rgba(62, 62, 62, 0.86);
}
.nav-utils {
  display: flex;
  align-items: center;
  gap: 12px;
}
.nav-utils-notification {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.nav-utils-coins {
  cursor: pointer;
  padding: 6px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(149, 199, 236, 0.24);
  border: 1px solid #92d5f8;
  border-radius: 8px;
  gap: 10px;
}
.nav-utils-coins-text {
  font-family: "Zyzol";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #95c7ec;
}
.nav-utils-user {
  cursor: pointer;
  background: rgba(245, 132, 31, 0.15);
  border: 1px solid #f5841f;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px 12px;
}
.nav-utils-user-text {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #3e3e3e;
}
.mobile-nav {
  display: none;
}
@media only screen and (max-width: 1200px) {
  .navbar {
    display: none;
  }
  .mobile-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 24px;
    height: 60px;
    width: 100vw;
    background-color: white;
  }
  .balancing-div{
    position: relative;
    z-index: -10000000000000000;
  }
  .mob-nav-menu {
    position: relative;
    font-size: 24px;
    z-index: 5;
  }
  .none {
    display: none;
  }
  .mob-nav-menu-display {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(
        116.82deg,
        rgba(216, 206, 255, 0.8) 0%,
        rgba(255, 218, 254, 0.8) 44.58%,
        rgba(187, 252, 236, 0.8) 97.7%
      ),
      #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
  }
  .mob-nav-links {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-items: center;
    align-items: center;
  }
  .nav-passive-state {
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
  }
  .nav-active-state {
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
  }
  
}
